# Idea Project
#파이참은 idea폴더에 파이참 내부설정을 저장하기때문에 git으로 버전컨트롤할 필요가 없어서 무시
.idea/

# Python
__pycache__
# 파이썬 실행시 자동으로 실행되는거라 우리가 수정할 부분이 아님.

# 현 poetry는 가상환경이 프로젝트 밖에 있어서, git ignore 하지 않습니다. pip를 썼으면 /venv/ 로 예외처리해줘야함.



